<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title></title>
</head>
<body>
&lt;div id=&quot;popup_registration&quot; class=&quot;popup_wrap popup_registration bg_tint_light&quot;&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;a href=&quot;#&quot; class=&quot;popup_close&quot;&gt;&lt;/a&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;div class=&quot;form_wrap&quot;&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;form name=&quot;registration_form&quot; method=&quot;post&quot; class=&quot;popup_form registration_form&quot;&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type=&quot;hidden&quot; name=&quot;redirect_to&quot; value=&quot;&lt;?php echo esc_attr(esc_url(home_url(&#39;/&#39;))); ?&gt;&quot;/&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class=&quot;form_left&quot;&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class=&quot;popup_form_field login_field iconed_field icon&ndash;user&quot;&gt;&lt;input type=&quot;text&quot; id=&quot;registration_username&quot; name=&quot;registration_username&quot;  value=&quot;&quot; placeholder=&quot;&lt;?php esc_attr_e(&#39;User name (login)&#39;, &#39;newlife&ndash;church&#39;); ?&gt;&quot;&gt;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class=&quot;popup_form_field email_field iconed_field icon&ndash;mail&quot;&gt;&lt;input type=&quot;text&quot; id=&quot;registration_email&quot; name=&quot;registration_email&quot; value=&quot;&quot; placeholder=&quot;&lt;?php esc_attr_e(&#39;E&ndash;mail&#39;, &#39;newlife&ndash;church&#39;); ?&gt;&quot;&gt;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class=&quot;popup_form_field agree_field&quot;&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type=&quot;checkbox&quot; value=&quot;agree&quot; id=&quot;registration_agree&quot; name=&quot;registration_agree&quot;&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;label for=&quot;registration_agree&quot;&gt;&lt;?php esc_html_e(&#39;I agree with&#39;, &#39;newlife&ndash;church&#39;); ?&gt;&lt;/label&gt; &lt;a href=&quot;#&quot;&gt;&lt;?php esc_html_e(&#39;Terms &amp;amp; Conditions&#39;, &#39;newlife&ndash;church&#39;); ?&gt;&lt;/a&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class=&quot;popup_form_field submit_field&quot;&gt;&lt;input type=&quot;submit&quot; class=&quot;submit_button&quot; value=&quot;&lt;?php esc_attr_e(&#39;Sign Up&#39;, &#39;newlife&ndash;church&#39;); ?&gt;&quot;&gt;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class=&quot;form_right&quot;&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class=&quot;popup_form_field password_field iconed_field icon&ndash;lock&quot;&gt;&lt;input type=&quot;password&quot; id=&quot;registration_pwd&quot;  name=&quot;registration_pwd&quot;  value=&quot;&quot; placeholder=&quot;&lt;?php esc_attr_e(&#39;Password&#39;, &#39;newlife&ndash;church&#39;); ?&gt;&quot;&gt;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class=&quot;popup_form_field password_field iconed_field icon&ndash;lock&quot;&gt;&lt;input type=&quot;password&quot; id=&quot;registration_pwd2&quot; name=&quot;registration_pwd2&quot; value=&quot;&quot; placeholder=&quot;&lt;?php esc_attr_e(&#39;Confirm Password&#39;, &#39;newlife&ndash;church&#39;); ?&gt;&quot;&gt;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class=&quot;popup_form_field description_field&quot;&gt;&lt;?php esc_html_e(&#39;Minimum 6 characters&#39;, &#39;newlife&ndash;church&#39;); ?&gt;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/form&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class=&quot;result message_block&quot;&gt;&lt;/div&gt;<br/>
&nbsp;&nbsp;&nbsp;&lt;/div&gt;	&lt;!&ndash;&ndash; /.registration_wrap &ndash;&ndash;&gt;<br/>
&lt;/div&gt;		&lt;!&ndash;&ndash; /.user&ndash;popUp &ndash;&ndash;&gt;</body></html>